@charset "utf-8";

pre::selection {
	background: #FFF;
	color: #000;
}

pre::-moz-selection {
	background: #FFF;
	color: #000;
}

#container {
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 25px 25px 16px 16px;
	-webkit-border-radius: 25px 25px 16px 16px;
	border-radius: 25px 25px 16px 16px;
}

.sidebar {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

#footer {
	-moz-border-radius: 0 0 16px 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	border-radius: 0 0 16px 16px;
}

.bubble {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.gallery li {
	display: -moz-inline-stack;
}

/*.gallery img {
	-moz-box-shadow: 2px 2px 8px #000;
	-webkit-box-shadow: 2px 2px 8px #000;
	box-shadow: 2px 2px 8px #000;
}*/

.newsfeed li {
	background-color: #EEE;
	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	word-wrap: break-word;
}
.newsfeed .date {
	-webkit-transition: color 100ms linear;
}
.newsfeed .time, .newsfeed_buttons {
	text-shadow: #FFF 1px 1px 0;
}


/* When theres not enough space to show all the content with the regular layout */
@media handheld, screen and (max-width: 900px), screen and (max-device-width: 900px) {

	html {
		background-image: none;
	}

	#container {
		width: auto;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	#header {
		margin: 0;
	}
	#footer {
		margin: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	.left {
		width: auto;
		float: none;
	}

	.right {
		margin-left: 0;
		padding-left: 0;
	}

	.gallery ul {
		width: auto;
	}

	.bubble {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}

}

/* When theres not enough space to use a columed/sidebar layout */
@media handheld, screen and (max-width: 650px), screen and (max-device-width: 650px) {

	#globalnav {
		display: none;
	}

	#header {
		background-image: url(../images/logo-small.png) !important;
		background-repeat: no-repeat;
		background-position: 8px center;
		background-color: #598DC5;
		height: auto;
		min-height: 83px;
		text-align: left;
	}

	#header h1 {
		position: static;
		color: #FFF;
		font-size: 59px;
		padding: 19px 0;
		margin: 0;
		margin-left: 78px;
		font-weight: normal !important;
		line-height: 1em;
		width: auto;
		text-shadow: #555 -1px -1px 2px;
	}

	.sidebar {
		float: none;
		width: auto;
		margin-left: 0;
		background-color: transparent;
		padding: 0;
	}

	.sidebar h2 {
		font-size: 1.5em;
		margin-bottom: .75em;
	}
	.sidebar h3 {
		font-size: 1.17em;
		margin-bottom: .83em;
	}

	pre {
		white-space: -pre-wrap;
		white-space: pre-wrap;
	}

	img {
		max-width: 100%;
	}

	.newsfeed li {
		background-color: #FFF;
		padding: 0;
		margin-bottom: 16px !important;
	}

}
