---
navbar_type: dark
permalink: /features/

page_main_heading: Why GTK?
page_main_heading_description: A featureful toolkit for writing modern applications

features_list:
  - category: graphics
    heading: High DPI/4K Support
    description: GTK supports HiDPI displays. The extra crispness adds to the already well defined user experience. Read about how to [enable Hi-DPI Support in GTK Apps](https://wiki.gnome.org/HowDoI/HiDpi/).
    image: games-4k.png
  - category: support
    heading: Unicode Localization
    description: GTK uses UTF-8 encoding for all of the text. This ensures that you can develop the app in your native language or any other language around the world.
    image: characters.png
  - category: performance
    heading: Hardware Accelerated Rendering
    description: GTK will always use the most efficient way to draw your applications, to maximize performance and take advantage of your hardware.
    image: gestures.png
  - category: movement
    heading: Gestures
    description: In GTK, pointer and touch events are handled seamlessly, making your apps work on various kinds of input devices out of the box.
    image: performance.png
---

{% include header.html %}

{% include navbar.html %}

<body>
<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pr-0 pr-md-5 d-flex flex-column">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info lead">{{ page.page_main_heading_description | markdownify }}</span>
      </div>
      <div class="col-md-6 d-md-flex d-none justify-content-end align-items-center">
        <img src="{{ '/assets/img/wall-features.svg' | absolute_url }}" class="img-fluid w-75" alt="GTK Logo" />
      </div>
    </div>
  </div>
</section>

{% for feature in page.features_list %}
<section class="py-5 {% cycle 'bg-white', 'bg-light' %}">
  <div class="container">
      <div class="row {% cycle 'flex-row-reverse', 'flex-row' %}">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="{{ '/assets/img/' | append: feature.image | absolute_url }}" class="img-fluid w-100 shadow" alt="{{ feature.heading | append: ' GTK Features' }}" />
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start {% cycle 'pr-lg-5', 'pl-lg-5' %} px-3">
            <h6 class="text-secondary small font-weight-normal letter-spacing-custom">{{ feature.category | upcase }}</h6>
            <h1 class="font-weight-light mb-3">{{ feature.heading }}</h1>
            <span class="text-muted">{{ feature.description | markdownify }}</span>
        </div>
      </div>
  </div>
</section>
{% endfor %}

{% include scripts.html %}
{% include footer.html %}
