---
navbar_type: dark
permalink: /

page_main_heading: Create apps that users just love
page_main_heading_description: Offering a complete set of UI elements, GTK is suitable for projects ranging from small one-off tools to complete application suites.

downloads:
  - os: Linux
    link: /docs/installations/linux/
    icon: fab fa-linux
  - os: Windows
    link: /docs/installations/windows/
    icon: fab fa-windows
  - os: MacOS
    link: /docs/installations/macos/
    icon: fab fa-apple

usecase_main_heading: Overcome Complex Challenges
usecase_main_heading_description: GTK is portable to different platforms and boasts an easy to use API, speeding your development and helping you tackle challenges whether you are GTK Developer or developing using GTK.

bindings_main_heading: Work with the language of your choice
bindings_main_heading_description: Develop your GTK app with your language of choice by using Language Bindings or wrappers and take full advantage of the official GNOME bindings which guarantee API stability and time-based releases.

apps_main_heading: Apps built with GTK
apps_main_heading_description: Developers around the world have used GTK as a platform to create apps that solve problems faced by end-users.

integrations_main_heading: Integrations for Rapid Application Development
integrations_main_heading_description: |-
  Glade is a RAD tool that enables quick and easy development of user interfaces for the GTK toolkit and the GNOME desktop environment.

  Check out this easy tutorial on [how to create a toolbar](https://developer.gnome.org/gnome-devel-demos/stable/toolbar_builder.py.html.en) using Glade.
integrations_image: /assets/img/wall-glade.png

features_main_heading: A feature-rich development tool
features_main_heading_description: GTK has all the features that a widget toolkit needs to have. These features make it the most trusted toolkit for developing Linux applications.

development_section:
  - heading: Develop with GTK
    description: |-
      By taking advantage of GTK being a cross-platform development tool and its easy to use API, you can develop amazing apps using the GTK. If you are interested in developing an app, get started now by developing this [example application](https://developer.gnome.org/gtk3/stable/ch01s04.html#id-1.2.3.12.5).
    icon: fas fa-toolbox
  - heading: Develop GTK
    description: |-
      GTK is a large project and relies on volunteers from around the world. To help us with the project development, hack away on the existing [bugs and feature requests](https://gitlab.gnome.org/GNOME/gtk/issues/).
    icon: fas fa-cogs
  - heading: Looking for Help?
    description: |-
      If you want to ask questions about GTK, whether it's for developing applications with GTK or contributing to GTK itself, you can use the GNOME [Discourse](https://discourse.gnome.org) instance, under the [Platform/Core](https://discourse.gnome.org/c/platform/core) category. You can use tags like *gtk* or *glib* to narrow down the topic of discussion to specific libraries. You can also ask questions on our [IRC](irc://irc.gnome.org/%23gtk) channel.
    icon: fas fa-question-circle

features_list:
  - title: Portability
    description: Projects built using GTK and its dependencies run on well known operating systems.
    icon: fas fa-door-open
  - title: Stability
    description: GTK delivers the enticing features and superb performance which adds to your applications.
    icon: fas fa-balance-scale
  - title: Language Bindings
    description: GTK is written in C but has been designed to support a wide range of languages such as Python, JavaScript, C++, Rust and [many more](/docs/language-bindings/).
    icon: fas fa-random
  - title: Interfaces
    description: GTK has a comprehensive collection of core widgets like Buttons, Windows, Toolbars for use in your application.
    icon: fas fa-cubes
  - title: Open Source
    description: GTK is a free and open-source project maintained by GNOME and an active community of contributors. GTK is released under the terms of the [GNU Lesser General Public License](https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html).
    icon: fas fa-code-branch
  - title: API
    description: GTK boasts of an easy to use [API](/docs/apis/) which helps in decreasing your development time and help you achieve better results.
    icon: fas fa-code
  - title: Accommodation
    description: GTK caters to many features like Native look and feel, theme support, Object-oriented approach that today's developers look for in a toolkit.
    icon: fas fa-suitcase-rolling
  - title: Foundations
    description: GTK is built on top of GLib. GLib provides the fundamental data types and system integration points to avoid duplicated code in applications.
    icon: fas fa-layer-group
  
news_and_events_heading: News and Events
news_and_events_list:
  - title: Catch up with GTK development
    description: Get in touch with GTK developers through [IRC](irc://irc.gnome.org/%23gtk). Get daily updates about GTK and its community from [GTK blog](https://blog.gtk.org/) or through its [Twitter](https://twitter.com/GTKtoolkit/) account.
  - title: Meet the community
    description: As regularly as possible, GTK team meetings take place at [conferences](https://guadec.org) and [hackfests](https://wiki.gnome.org/Hackfests) to discuss the future of GTK and define a [roadmap](https://wiki.gnome.org/Projects/GTK/Roadmap).
  - title: Contribute to GTK
    description: If you are a developer and want to contribute to GTK, you are more than [welcome to do so](/docs/getting-started/).
---

{% include header.html %} {% include navbar.html %}

<section class="py-4 d-flex flex-column align-items-center bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 d-flex justify-content-end flex-column main-heading">
        <h1 class="display-4 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-info mb-4 lead">{{ page.page_main_heading_description | markdownify }}</span>
        <div class="mb-4 d-flex">
          <a href="{{ '/docs/' | absolute_url }}" class="btn btn-md btn-primary" role="button">Learn GTK</a>
          <div class="dropdown">
            <a class="btn btn-md btn-outline-secondary dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Downloads</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for download in page.downloads %}
                <a href="{{ download.link | absolute_url }}" class="dropdown-item"><i class="{{ download.icon }} pr-2 fa-fw"></i>{{ download.os }}</a>
              {% endfor %}
            </div>
          </div>
        </div><!-- dropdown-->
        <div>
          <span class="text-light"><span class="small text-info">Latest stable</span> v{{ site.data.api_fetch.stable_tags[0].name }}</span>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <img src="{{ '/assets/img/wall-gtk4.svg' | absolute_url }}" class="img-fluid pl-lg-5" alt="GTK Community Wallpaper" />
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-4" id="bindings">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.bindings_main_heading }}</h2>
        <span class="text-muted">{{ page.bindings_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="row d-flex flex-column align-items-center py-4 px-3">
      <div class="col-lg-8 p-0 rounded-top overflow-hidden">
        <div class="list-group flex-row flex-wrap bg-dark" id="list-tab" role="tablist">
        {% assign codes = site.data.sample_codes.codes %}
        {% for code in codes %}
          {% if forloop.first == true %}
            <a class="col grp-btn btn py-1 px-1 small border-0 rounded-0 active text-light" id="list-{{ code.ext }}-list" data-toggle="list" href="#list-{{ code.ext }}" role="tab" aria-controls="{{ code.ext }}" aria-selected="true">{{ code.name }}</a>
          {% else %}
            <a class="col grp-btn btn py-1 px-1 small border-0 rounded-0 text-light" id="list-{{ code.ext }}-list" data-toggle="list" href="#list-{{ code.ext }}" role="tab" aria-controls="{{ code.ext }}" aria-selected="false">{{ code.name }}</a>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="col-lg-8 p-0 bg-light border border-info border-top-0 pl-3 overflow-auto">
        <div class="tab-content" id="nav-tabContent">
        {% for code in codes %}
          {% if forloop.first == true %}
            <div class="tab-pane overflow-y-auto fade small pt-3 active show" id="list-{{ code.ext }}" role="tabpanel" aria-labelledby="list-{{ code.ext }}-list">
            {{ code.snippet | markdownify }}
            </div>
          {% else %}
            <div class="tab-pane overflow-auto fade small pt-3" id="list-{{ code.ext }}" role="tabpanel" aria-labelledby="list-{{ code.ext }}-list">
            {{ code.snippet | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% assign apps = site.data.apps.apps_list %}
<section class="py-4" style="background: linear-gradient(var(--light), var(--white));">
  <div class="container py-3">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.apps_main_heading }}</h2>
        <span class="text-muted">{{ page.apps_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="app-logos slider pt-4 pb-5">
      {% for app in apps %}
      <div class="slide d-flex flex-column align-items-center text-center">
        <a href="{{ app.link }}" target="_blank"><img src="{{ '/assets/img/apps/' | append: app.logo | absolute_url }}" class="img-fluid app-icon icon-dropshadow mb-2" alt="{{ app.name }}" /></a>
        <span class="text-muted small">{{ app.name }}</span></a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pt-4">
        <h2 class="font-weight-light mb-3">{{ page.integrations_main_heading }}</h2>
        <span class="text-muted">{{ page.integrations_main_heading_description | markdownify }}</span>
      </div>
      <div class="col-lg-7 d-flex justify-content-center align-items-center py-4 py-lg-0 pl-lg-5">
        <img src="{{ page.integrations_image | absolute_url }}" class="img-fluid w-100 shadow-sm" alt="Integration of Glade and GTK" />
      </div>
    </div>
  </div>
  <hr class="w-75 mt-5">
</section>

<section class="pt-3 pb-4" id="features">
  <div class="container"> 
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.features_main_heading }}</h2>
        <span class="text-muted">{{ page.features_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="row feature-holder pt-5">
      {% assign features = page.features_list %}
      {% for feature in features %}
        <div class="col-md-6 px-3">
          <div class="col d-flex px-0 px-sm-3 pb-4">
            <div class="pr-2">
              <span class="fa-stack fa-1x fa-fw d-flex justify-content-center align-items-center">
                <i class="fas fa-circle fa-stack-2x fa-fw text-secondary text-center"></i>
                <i class="{{ feature.icon }} fa-stack-1x fa-inverse fa-fw text-center"></i>
              </span>
            </div>
            <div>
              <h6 class="mb-1">{{ feature.title }}</h6>
              <span class="text-muted small">{{ feature.description | markdownify }}</span>
            </div>
          </div>
        </div>  
        {% endfor %}
    </div>
  </div>
</section>

<section class="py-4" id="development" style="background: linear-gradient(var(--light), var(--white));">
  <div class="container">
    <div class="row py-4 px-3">
      {% assign development = page.development_section %}
      {% for item in development %}
        <div class="col-md-4 py-3 py-md-0 px-0 px-md-3">
          <div class="w-100 h-100 bg-white py-4 px-3 mb-2 border rounded card">
            <span class="mb-2"><i class="{{ item.icon }} fa-fw"></i></span>
            <h5 class="font-weight-normal mb-3">{{ item.heading }}</h5>
            <span class="text-muted small">{{ item.description | markdownify }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% assign news_and_events = page.news_and_events_list %}
{% assign back_img = '/assets/img/wall-events-pattern.svg' | absolute_url %}
<section class="py-4" id="events" style="background: url('{{ back_img }}')">
  <div class="container">
    <h2 class="text-center font-weight-light mb-3">{{ page.news_and_events_heading }}</h2>
    <div class="row py-4">
      {% for news in news_and_events %}
      <div class="col-md-4 px-3 pb-4 pb-md-0">
        <div class="w-100 px-4 py-4 rounded shadow bg-light h-100">
          <h5 class="border-bottom border-primary pb-2 font-weight-normal">{{ news.title }}</h5>
          <span class="text-muted small">{{ news.description | markdownify }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include scripts.html %}
<script src="{{ '/assets/slick-carousel/slick/slick.min.js' | absolute_url }}"></script>
<script>
  // controls the appearance of code container for language bindings
  var tabs = document.querySelectorAll(".tab-pane");
  var i, l = tabs.length;
  var max = 360;
  for (i = 0; i < l; i++) {
    tabs[i].style.height = max + "px";
  }

  // controls the app silder
  $(document).ready(function(){
    $('.app-logos').slick({
      slidesToShow: 6,
      swipeToSlide: true,
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 4,
          autoplaySpeed: 1500
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          autoplaySpeed: 1000
        }
      }]
    });
  });

  // used to implement the bootstrap dropdown
  $(".dropdown-toggle").dropdown();
</script>

{% include footer.html %}
