_site
.sass-cache
.jekyll-metadata
node_modules/
assets/@fortawesome/
assets/@primer/
assets/bootstrap/
assets/jquery/
assets/popper.js/
assets/slick-carousel/
assets/moment/
assets/css/
.vscode
_data/api_fetch/