<script src="{{ '/assets/jquery/dist/jquery.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/popper.js/dist/umd/popper.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.url }}"></script>
<script>
    var btnTop = $("#btn-go-to-top");
    $(window).scroll(function() {
        if ($(window).scrollTop() < 400) {
            btnTop.addClass("d-none");
        }
        else {
            btnTop.removeClass("d-none");
        }
    });
    btnTop.on("click", function(e) {
        e.preventDefault();
        $("html, body").animate({scrollTop: 0});
    });
</script>