---
navbar_type: dark
permalink: /community/
---

{%- include header.html -%}

<section class="pb-4 d-flex flex-column align-items-center" id="landing">
  <div class="container">
    <div class="row">
      <div class="col-md-5 d-flex justify-content-end flex-column main-heading">
        <h1 class="display-3 pb-3">GTK Community</h1>
        <span class="text-muted lead">A place to find all the resources used by the people working on GTK.</span>
      </div>
      <div class="col-md-7 d-none d-md-flex justify-content-center flex-column">
        <img src="{{ '/assets/img/wall-community.svg' | prepend: site.url }}" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<section class="py-4" id="blog">
  <div class="container border rounded py-4 px-4 bg-light">
    <div class="row">
      <div class="col">
        <h2 class="font-weight-light mb-3">Blog</h2>
        <p class="text-muted w-75">Catch up with all the things happening with GTK through the GTK Development Blog.</p>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-lg-4 col-md-6 pb-4">
        <div class="h-100 rounded shadow-sm overflow-hidden">
          <div class="overflow-hidden" style="max-height:200px;">
            <img src="{{ '/assets/img/blog-blog1.png' | prepend: site.url }}" class="img-fluid w-100">
          </div>
          <div class="py-3 px-3 h-100 bg-white d-flex flex-column">
            <h6>GTK 3.96.0</h6>
            <p class="text-muted small">This week, we released GTK 3.96.0. Again, it has been a while since the last
              release, so it is worth summarizing whats new in this release. There is really too much here to cover it
              all...</p>
            <a href="#" class="btn btn-sm btn-primary align-self-end">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-4">
        <div class="h-100 rounded shadow-sm overflow-hidden">
          <div class="overflow-hidden" style="max-height:200px;">
            <img src="{{ '/assets/img/blog-blog2.png' | prepend: site.url }}" class="img-fluid w-100">
          </div>
          <div class="py-3 px-3 h-100 bg-white d-flex flex-column">
            <h6>Layout managers in GTK 4</h6>
            <p class="text-muted small">Containers and layout policies have been a staple of GTK’s design since the
              very beginning. If you wanted your widget to lay out its children according to a specific policy...</p>
            <a href="#" class="btn btn-sm btn-primary align-self-end">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-4">
        <div class="h-100 rounded shadow-sm overflow-hidden">
          <div class="overflow-hidden" style="max-height:200px;">
            <img src="{{ '/assets/img/blog-blog3.png' | prepend: site.url }}" class="img-fluid w-100">
          </div>
          <div class="py-3 px-3 h-100 bg-white d-flex flex-column">
            <h6>Entries in GTK 4</h6>
            <p class="text-muted small">One of the larger refactorings that recently landed in GTK master is re-doing
              the entry hierarchy. This post is summarizing what has changed, and why we think things are better this
              way...</p>
            <a href="#" class="btn btn-sm btn-primary align-self-end">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-4" id="issue-tracker">
  <div class="container border rounded py-4 px-4 bg-light">
    <div class="row">
      <div class="col">
        <h2 class="font-weight-light mb-3">Issue Tracker</h2>
        <p class="text-muted w-75">Contribute to GTK by solving the issues related to GTK. Get started with first issues.</p>
      </div>`
    </div>
    <div class="row py-4">
      {% assign issues = site.data.api_fetch.issues-opened %}
      {% for issue in issues %}
        <div class="col-lg-3 col-md-4 col-sm-6 py-3">
          <div class="d-flex flex-column justify-content-between rounded bg-white shadow-sm pt-3 pb-2 px-3 h-100 shadow-hover">
            <div class="pb-2">
              <div class="d-flex justify-content-between align-items-start">
                <h6 class="m-0 pr-2 text-break">{{ issue.title }}</h6>
                <a class="btn btn-primary btn-sm" href="{{ issue.web_url }}" data-toggle="tooltip" data-html="true" title="<small>View on Gitlab</small>"><i
                    class="fab fa-gitlab"></i></a>
              </div>
              <div class="py-2">
                {% for label in issue.labels %}
                  <span class="badge badge-pill badge-{% cycle 'secondary', 'tertiary', 'danger', 'warning' %}">{{ label }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="border-top text-muted">
              <span class="small">Opened <span id="time" data-time="{{ issue.created_at }}"></span> by <a href="{{ issue.author.web_url }}">{{ issue.author.name }}</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <nav>
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">6</a></li>
        <li class="page-item"><a href="#" class="page-link">7</a></li>
        <li class="page-item">
          <a href="#" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>

{% assign members = site.data.api_fetch.members-all %}
<section class="py-4" id="contributors">
  <div class="container border rounded py-4 px-4 bg-light">
    <div class="row">
      <div class="col">
        <h2 class="font-weight-light mb-3">Contributors</h2>
        <p class="text-muted w-75">These are the people who apply their best of skills to make GTK as the developers
          go-to tool. To see your yourself as a GTK Contributor, start by solving some <a href="https://gitlab.gnome.org/GNOME/gtk/issues">issues</a>
          for the GTK.</p>
      </div>
    </div>
    <div class="row pt-4">
      {% for member in members %}
      <div class="col-2 py-3">
        <div class="d-flex justify-content-center align-items-center py-2">
          <img src="{{ member.avatar_url }}" class="img-fluid rounded-circle w-75 border img-thumbnail">
        </div>
        <div class="d-flex flex-column align-items-center">
          <span class="text-primary text-center text-secondary">{{ member.name }}</span>
          <ul class="list-unstyled d-flex small mb-0">
            <li>
              <a href="{{ member.web_url }}" target="_blank">Gitlab</a>
            </li>
            <li class="px-1">·</li>
            <li>
              <span class="text-muted">Developer</span>
            </li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{%- include footer.html -%}

<script>
  // calculates how much time ago an issue was opened. uses moment.js
  var times = document.querySelectorAll("#time");
  times.forEach(item => {
    time = item.getAttribute('data-time');
    item.innerHTML = moment(time, moment.HTML5_FMT.DATETIME_LOCAL_MS).fromNow();
  });

  // used to display tooltip over gitlab icon in issue tracker.
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>