---
navbar_type: light
permalink: /features/

page_main_heading: Why GTK?
page_main_heading_description: Thanks to all the hardwork by the community, new features have been introduced to GTK, which make v4 even better.
---

{% include header.html %}

{% include navbar.html %}

<body>
{% assign back_img = '/assets/img/wall-gtk-features.png' | prepend: site.url %}
<section class="d-flex flex-column align-items-center bg-no-repeat bg-center" style="background: url('{{ back_img }}');"  alt="GTK Features Wallpaper" />
  <div class="container">
    <div class="row d-flex justify-content-center pt-4 pb-6">
      <div class="col-md-10 col-lg-7 main-heading text-center">
        <h1 class="display-3 pb-3">{{ page.page_main_heading }}</h1>
        <span class="text-muted lead bg-light">{{ page.page_main_heading_description }}</span>
      </div>
    </div>
  </div>
</section>

<section class="py-4">
  <div class="container">
    <div class="row d-flex flex-row py-4 py-lg-5">
      <div class="col-lg-5 py-4">
          <h6 class="text-muted small font-weight-normal letter-spacing-custom">{{ 'graphics' | upcase }}</h6>
          <h1 class="font-weight-light mb-3 font-underline">High DPI/4K Support</h1>
          <br><br>
          <span class="text-muted">Starting from v4, the support for HiDPI has been improved. The extra crispness adds to the already well defined user experience.</span>
          <br><br>
          <a href="https://wiki.gnome.org/HowDoI/HiDpi/" class="btn btn-primary btn-sm">Enable Hi-DPI Support in GTK Apps</a>
      </div>
      <div class="col-lg-7">
        <img src="{{ '/assets/img/games-4k.png' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GTK Features" />
      </div>
    </div>
    <div class="row d-flex flex-row py-4 py-lg-5">
      <div class="col-lg-5 py-4">
          <h6 class="text-muted small font-weight-normal letter-spacing-custom">{{ 'support' | upcase }}</h6>
          <h1 class="font-weight-light mb-3 font-underline">Unicode and Localization</h1>
          <br><br>
          <span class="text-muted">GTK uses UTF-8 encoding for all of the text. This ensures that you can develop the app in your native language or any other language around the world.</span>
      </div>
      <div class="col-lg-7">
        <img src="{{ '/assets/img/characters.png' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GTK Features" />
      </div>
    </div>
    <div class="row d-flex flex-row py-4 py-lg-5">
      <div class="col-lg-5 py-4">
          <h6 class="text-muted small font-weight-normal letter-spacing-custom">{{ 'movement' | upcase }}</h6>
          <h1 class="font-weight-light mb-3 font-underline">Gestures</h1>
          <br><br>
          <span class="text-muted">In GTK, pointer and touch events are handled indistinctly, making your apps work on touchscreens out of the box.</span>
      </div>
      <div class="col-lg-7">
        <img src="{{ '/assets/img/gestures.png' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GTK Features" />
      </div>
    </div>
    <div class="row d-flex flex-row py-4 py-lg-5">
      <div class="col-lg-5 py-4">
          <h6 class="text-muted small font-weight-normal letter-spacing-custom">{{ 'performance' | upcase }}</h6>
          <h1 class="font-weight-light mb-3 font-underline">Hardware Accelerated Rendering</h1>
          <br><br>
          <span class="text-muted">The internal logic of the Vulkan renderer has been reworked to use textures instead of cairo surfaces for intermediate results and thus avoid more cairo fallbacks.</span>
      </div>
      <div class="col-lg-7">
        <img src="{{ '/assets/img/performance.png' | prepend: site.url }}" class="img-fluid w-100 shadow" alt="GTK Features" />
      </div>
    </div>
  </div>
</section>

{% include footer.html %}