---
navbar_type: transparent
permalink: ''

page_main_heading: Create interfaces, that&nbsp;users just love
page_main_heading_description: Offering a complete set of UI elements, GTK is suitable for projects ranging from small one-off tools to complete application suites.

downloads:
  - os: Linux
    link: /docs/installations/linux/
    icon: fab fa-linux
  - os: Windows
    link: /docs/installations/windows/
    icon: fab fa-windows
  - os: MacOS
    link: /docs/installations/macos/
    icon: fab fa-apple

usecase_main_heading: Overcome Complex Challenges
usecase_main_heading_description: GTK is portable to different platforms and boasts an easy to use API, speeding up your development time and helping you tackle challenges whether you are GTK Developer or developing using GTK.

bindings_main_heading: Work with the language of your choice
bindings_main_heading_description: Develop your GTK app with the language of your choice by using Language Bindings or wrappers and take the full advantage of the official GNOME bindings which guarantee API stability and time-based releases.

apps_main_heading: Apps built with GTK
apps_main_heading_description: Developers around the world have used GTK as a platform to create apps that solve problems faced by the end users.

integrations_main_heading: Integrations for Rapid Application Development
integrations_main_heading_description: |-
  Glade is a RAD tool which enables quick and easy development of user interfaces for the GTK toolkit and the GNOME desktop environment.

  Check out this easy tutorial on [how to create a toolbar](https://developer.gnome.org/gnome-devel-demos/stable/toolbar_builder.py.html.en) using Glade.
integrations_image: /assets/img/wall-glade.png

features_main_heading: A feature rich development tool
features_main_heading_description: GTK has all the features that a widget toolkit needs to have. These features make it the most trusted toolkit for developing Linux applications.

development_section:
  - heading: Develop with GTK
    description: |-
      By taking the advantage of GTK being a cross-platform development tool and it's easy to use API, you can develop amazing apps using the GTK. If you are interested in developing an app, get started now by developing this [example application](https://developer.gnome.org/gtk3/stable/ch01s04.html#id-1.2.3.12.5).
  - heading: Develop GTK
    description: |-
      GTK is a large project and relies on volunteers from around the world. To help us with the project development, hack away on the existing [bugs and feature requests](https://gitlab.gnome.org/GNOME/gtk/issues/).
  - heading: Looking for Help?
    description: |-
      If you want to ask questions about GTK, whether it's for developing applications with GTK or contributing to GTK itself, you can use the GNOME [Discourse](https://discourse.gnome.org) instance, under the [Platform/Core](https://discourse.gnome.org/c/platform/core) category. You can use tags like *gtk* or *glib* to narrow down the topic of discussion to specific libraries. You can also ask questions on our [IRC](irc://irc.gnome.org/%23gtk) channel.

features_list:
  - title: Portability
    description: Projects build using GTK and its dependencies run on well known operating systems.
    icon: fas fa-door-open
  - title: Stability
    description: GTK deliver the enticing features and superb performance which adds to your applications.
    icon: fas fa-balance-scale
  - title: Language Bindings
    description: GTK is written in C but has been designed to support a wide range of languages such as Python, JavaScript, C++, Rust and [many more](/docs/language-bindings/).
    icon: fas fa-random
  - title: Interfaces
    description: GTK has a comprehensive collection of core widgets like Buttons, Windows, Toolbars for use in your application.
    icon: fas fa-cubes
  - title: Open Source
    description: GTK is an free and open source project maintained by GNOME and an active community of contributors.
    icon: fas fa-code-branch
  - title: API
    description: GTK boasts of an easy to use [API](/docs/apis/) which helps in decreasing your development time and produce better results.
    icon: fas fa-code
  - title: Accomodation
    description: GTK caters for a number features like Native look and feel, theme support, Object oriented approach that today's developers look for in a toolkit.
    icon: fas fa-suitcase-rolling
  - title: Foundations
    description: GTK is built on top of GLib. GLib provides the fundamental data types and system integration points to avoid duplicated code in applications.
    icon: fas fa-layer-group
    
news_and_events_list:
  - title: Catch up with GTK development
    description: Get in touch with GTK developers through [IRC](irc://irc.gnome.org/%23gtk). Get daily updates about GTK and its community from [GTK blog](https://blog.gtk.org/) or through it's [twitter](https://twitter.com/GTKtoolkit/) handle.
  - title: Meet the community
    description: As regularly as possible, GTK team meetings take place at [conferences](https://guadec.org) and [hackfests](https://wiki.gnome.org/Hackfests) to discuss the future of GTK and define a [roadmap](https://wiki.gnome.org/Projects/GTK/Roadmap).
  - title: Contribute to GTK
    description: If you are a developer and want to contribute towards GTK, you are more than welcome to do so. [Get started now](/docs/getting-started/) to get some familarity to GTK.
---

{% include header.html %}

{% assign back_img = '/assets/img/wall-gtk-main.jpg' | prepend: site.url %}
<section class="d-flex flex-column" id="landing" style="background: url('{{ back_img }}');">
  {% include navbar.html %}
  <div class="container d-flex align-items-center" style="height: var(--breakpoint-sm)">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center flex-column main-heading text-white">
        <h1 class="display-4 pb-3 text-shadow">{{ page.page_main_heading }}</h1>
        <span class="text-light mb-4 text-shadow">{{ page.page_main_heading_description | markdownify }}</span>
        <div class="pb-3 d-flex">
          <a href="{{ '/docs/' | prepend: site.url }}" class="btn btn-md btn-primary" role="button">Learn GTK</a>
          <div class="dropdown">
            <a class="btn btn-md btn-outline-secondary dropdown-toggle ml-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Downloads</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for download in page.downloads %}
                <a href="{{ download.link | prepend: site.url }}" class="dropdown-item"><i class="{{ download.icon }} pr-2 fa-fw"></i>{{ download.os }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="small text-info">Currently v{{ site.data.api_fetch.tags[0].name }}</p>
      </div>
    </div>
  </div>
</section>
</div>

<section class="py-4" id="bindings">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.bindings_main_heading }}</h2>
        <span class="text-muted">{{ page.bindings_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="row d-flex flex-column align-items-center py-4 px-3">
      <div class="col-lg-8 p-0 rounded-top overflow-hidden">
        <div class="list-group flex-row flex-wrap" id="list-tab" role="tablist">
        {% assign codes = site.data.sample_codes.codes %}
        {% for code in codes %}
          {% if forloop.first == true %}
            <a class="col grp-btn btn py-1 px-1 small border-0 rounded-0 active" id="list-{{ code.ext }}-list" data-toggle="list" href="#list-{{ code.ext }}" role="tab" aria-controls="{{ code.ext }}" aria-selected="true">{{ code.name }}</a>
          {% else %}
            <a class="col grp-btn btn py-1 px-1 small border-0 rounded-0" id="list-{{ code.ext }}-list" data-toggle="list" href="#list-{{ code.ext }}" role="tab" aria-controls="{{ code.ext }}" aria-selected="false">{{ code.name }}</a>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="col-lg-8 p-0 bg-light border border-info border-top-0 pl-3 overflow-auto">
        <div class="tab-content" id="nav-tabContent">
        {% for code in codes %}
          {% if forloop.first == true %}
            <div class="tab-pane overflow-y-auto fade small pt-3 active show" id="list-{{ code.ext }}" role="tabpanel" aria-labelledby="list-{{ code.ext }}-list">
            {{ code.snippet | markdownify }}
            </div>
          {% else %}
            <div class="tab-pane overflow-auto fade small pt-3" id="list-{{ code.ext }}" role="tabpanel" aria-labelledby="list-{{ code.ext }}-list">
            {{ code.snippet | markdownify }}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% assign apps = site.data.apps.apps_list %}
<section class="py-4" style="background: linear-gradient(var(--light), var(--white));">
  <div class="container py-3">
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.apps_main_heading }}</h2>
        <span class="text-muted">{{ page.apps_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="app-logos slider pt-4 pb-5">
      {% for app in apps %}
      <div class="slide d-flex flex-column align-items-center text-center stretched-link" title="{{ app.name }} App"><a href="{{ app.link }}">
        <img src="{{ '/assets/img/apps/' | prepend: site.url }}{{ app.logo }}" class="img-fluid app-icon icon-dropshadow" alt="{{ app.name }}" />
        <span class="text-muted small">{{ app.name }}</span></a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 pt-4">
        <h2 class="font-weight-light mb-3">{{ page.integrations_main_heading }}</h2>
        <span class="text-muted">{{ page.integrations_main_heading_description | markdownify }}</span>
      </div>
      <div class="col-lg-7 d-flex justify-content-center align-items-center py-4 py-lg-0">
        <img src="{{ page.integrations_image | prepend: site.url }}" class="img-fluid w-100 shadow-sm" alt="Integration of Glade and GTK" />
      </div>
    </div>
  </div>
  <hr class="w-75 mt-5">
</section>

<section class="pt-3 pb-4" id="features">
  <div class="container"> 
    <div class="row text-center d-flex justify-content-center">
      <div class="col-md-10 col-lg-7">
        <h2 class="font-weight-light mb-3">{{ page.features_main_heading }}</h2>
        <span class="text-muted">{{ page.features_main_heading_description | markdownify }}</span>
      </div>
    </div>
    <div class="row feature-holder pt-5">
      {% assign features = page.features_list %}
      {% for feature in features %}
        <div class="col-md-6 px-3">
          <div class="col d-flex px-0 px-sm-3 pb-4">
            <div class="pr-2">
              <span class="fa-stack fa-1x fa-fw d-flex justify-content-center align-items-center">
                <i class="fas fa-circle fa-stack-2x fa-fw text-secondary text-center"></i>
                <i class="{{ feature.icon }} fa-stack-1x fa-inverse fa-fw text-center"></i>
              </span>
            </div>
            <div>
              <h6 class="mb-1">{{ feature.title }}</h6>
              <span class="text-muted small">{{ feature.description | markdownify }}</span>
            </div>
          </div>
        </div>  
        {% endfor %}
    </div>
  </div>
</section>

<section class="py-4 bg-no-repeat bg-cover" id="development">
  <div class="container">
    <div class="row py-4 px-3">
      <div class="col-md-12 py-3 py-md-0 px-0 px-md-3">
        {% assign development = page.development_section %}
        {% for item in development %}
          <div class="w-100 bg-light py-4 px-3 mb-2 border rounded card">
              <h5 class="font-weight-normal mb-3">{{ item.heading }}</h5>
              <span class="text-muted small">{{ item.description | markdownify }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% assign news_and_events = page.news_and_events_list %}
{% assign back_img = '/assets/img/wall-events-pattern.svg' | prepend: site.url %}
<section class="py-4" id="events" style="background: url('{{ back_img }}')">
  <div class="container">
    <h2 class="text-center font-weight-light mb-3">News and Events</h2>
    <div class="row py-4">
      {% for news in news_and_events %}
      <div class="col-md-4 px-3 pb-4 pb-md-0">
        <div class="w-100 px-4 py-4 rounded shadow bg-light h-100">
          <h5 class="border-bottom border-primary pb-2 font-weight-normal">{{ news.title }}</h5>
          <span class="text-muted small">{{ news.description | markdownify }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  // controls the appearance of code container for language bindings
  var tabs = document.querySelectorAll(".tab-pane");
  var i, l = tabs.length;
  var max = 360;
  for (i = 0; i < l; i++) {
    tabs[i].style.height = max + "px";
  }

  // controls the app silder
  $(document).ready(function(){
    $('.app-logos').slick({
      slidesToShow: 6,
      swipeToSlide: true,
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: false,
      dots: false,
      pauseOnHover: false,
      responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 4,
          autoplaySpeed: 1500
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          autoplaySpeed: 1000
        }
      }]
    });
  });

  // used to implement the bootstrap dropdown
  $(".dropdown-toggle").dropdown();
</script>

{% include footer.html %}
