$theme-colors: (
	"primary": #4a86cf,
	"secondary": #f57900,
	"info": #d3d7cf,
	"dark": #2e3436
);

$spacer: 1rem;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 2),
	5: ($spacer * 4),
	6: ($spacer * 8)
);

$enable-shadows: true;
$font-size-base: 1.15rem;

@import "../bootstrap/scss/bootstrap";
