$theme-colors: (
	"primary": #3B86E2,
	"secondary": #F28518,
	"tertiary": #94D354,
	"info": #C0C4BD,
	"light": #F8F9FA,
	"dark": #04080F,
	"mdcolor": #e7e8e9,
	"mdborder": #d6d8da
);


$spacer: 1rem;
$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 2),
	5: ($spacer * 4),
	6: ($spacer * 8)
);

$font-size-base: 1.15rem;

@import "../bootstrap/scss/bootstrap";
