@media (max-width: 576px) {
    small,
    .small {
        font-size: 100%;
    }
    body {
        font-size: 1rem;
    }
}
@media (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
    .w-sm-auto {
        width: auto !important;
    }
    .h-sm-25 {
        height: 25% !important;
    }
    .h-sm-50 {
        height: 50% !important;
    }
    .h-sm-75 {
        height: 75% !important;
    }
    .h-sm-100 {
        height: 100% !important;
    }
    .h-sm-auto {
        height: auto !important;
    }
    .landing-sm {
        min-height: 70vh;
    }
}
@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .w-md-100 {
        width: 100% !important;
    }
    .w-md-auto {
        width: auto !important;
    }
    .h-md-25 {
        height: 25% !important;
    }
    .h-md-50 {
        height: 50% !important;
    }
    .h-md-75 {
        height: 75% !important;
    }
    .h-md-100 {
        height: 100% !important;
    }
    .h-md-auto {
        height: auto !important;
    }
    #app-sidebar {
        min-height: 100vh;
    }
    .app-shadow {
        box-shadow: none !important;
    }
}
@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-100 {
        width: 100% !important;
    }
    .w-lg-auto {
        width: auto !important;
    }
    .h-lg-25 {
        height: 25% !important;
    }
    .h-lg-50 {
        height: 50% !important;
    }
    .h-lg-75 {
        height: 75% !important;
    }
    .h-lg-100 {
        height: 100% !important;
    }
    .h-lg-auto {
        height: auto !important;
    }
}
@media (min-width: 1200px) {
    .w-xl-25 {
        width: 25% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
    .w-xl-100 {
        width: 100% !important;
    }
    .w-xl-auto {
        width: auto !important;
    }
    .h-xl-25 {
        height: 25% !important;
    }
    .h-xl-50 {
        height: 50% !important;
    }
    .h-xl-75 {
        height: 75% !important;
    }
    .h-xl-100 {
        height: 100% !important;
    }
    .h-xl-auto {
        height: auto !important;
    }
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.tab-pane::-webkit-scrollbar {
    width: 0.4rem;
}
.tab-pane::-webkit-scrollbar:hover {
    width: 0.6rem;
}
.tab-pane::-webkit-scrollbar-thumb {
    background: var(--info);
    border-radius: 1.6rem;
}
.tab-pane::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem;
}
.app-icon {
    max-width: 120px !important;
}
.op-7 {
    opacity: 0.75;
}
.nav-item {
    transition: 0.15s ease;
}
.nav-item:hover .nav-link,
.nav-item:focus .nav-link {
    color: var(--secondary) !important;
}
.top-0 {
    top: 0;
}
#apps {
    background: linear-gradient(var(--light), var(--white));
}
#app-sidebar {
    background: linear-gradient(#4a86cf20, var(--light));
}
.slider .slide:hover {
    cursor: pointer;
}
.slick-slide {
    margin: 0px 15px;
}
.slick-slide img {
    max-width: 100%;
    outline: none;
    height: auto;
    display: block;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none !important;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.grp-btn {
    font-size: 80%;
}
.grp-btn:focus,
.grp-btn:active {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 3px solid var(--primary) !important;
    color: var(--light) !important;
}
.grp-btn.active {
    border-bottom: 3px solid var(--primary) !important;
    color: var(--light) !important;
}
.overflow-y-auto {
    overflow-y: auto;
}
pre {
    overflow-x: hidden;
}
.main-heading {
    z-index: 100;
}
.img-grp {
    position: relative;
}
.img-grp .editor {
    position: absolute;
    top: -10%;
    left: 15%;
    width: 90%;
    height: auto;
}
.img-grp .calendar {
    position: absolute;
    bottom: 20%;
    left: 45%;
    width: 70%;
    height: auto;
}
.img-grp .music {
    position: absolute;
    bottom: -5%;
    left: 5%;
    width: 70%;
    height: auto;
}
#events {
    background: url("../img/back1.svg");
}
#development {
    background: url("../img/symbolics.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* span p{
    margin-bottom: 0;
} */
#features-main {
    background: url("../img/features-hero-integrations-endpoints.svg");
    background-repeat: no-repeat;
    background-position: center;
}