{% assign data = site.data %}

{%- include header.html -%}

<section class="pb-4" id="{{ page.name }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 small p-0 order-2 order-md-1">
                <div class="position-sticky top-0 text-break pt-4 px-4" id="app-sidebar">
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Repository</strong></p>
                        <p class="m-0"><a href="{{ page.repository }}">{{ page.repository }}</a></p>
                    </div>
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Category</strong></p>
                        <p class="m-0"><a href="{{ page.category }}">{{ page.category }}</a></p>
                    </div>
                    {% if page.youtube_video_url %}
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Downloads</strong></p>
                        {% for download in page.downloads %}
                        <span class="badge badge-dark"><a href="{{ download.link }}">{{ download.title }}</a></span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Keywords</strong></p>
                        {% for keyword in page.keywords %}
                        <span class="badge border {% cycle 'border-primary','border-secondary' %}">{{ keyword }}</span>
                        {% endfor %}
                    </div>
                    {% if page.website %}
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Website</strong></p>
                        <p class="m-0"><a href="{{ page.website }}">{{ page.website }}</a></p>
                    </div>
                    {% endif %}
                    {% if page.youtube_video_url %}
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>Youtube</strong></p>
                        <p class="m-0"><a href="{{ page.youtube_video_url }}">Open in Youtube <i class="fas fa-external-link-alt"></i></a></p>
                    </div>
                    {% endif %}
                    <div class="pb-4 pb-md-4 col-sm-6 col-md-12">
                        <p class="text-primary mb-1"><strong>License</strong></p>
                        <p class="m-0"><a class="text-muted">{{ page.license }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 py-4 px-sm-4 order-1 order-md-2">
                <div class="d-flex flex-sm-row flex-column py-3 py-md-0 px-3 px-md-0 app-shadow">
                    <div class="d-flex justify-content-center align-items-start">
                        <img src="../{{ page.img }}" class="img-fluid app-icon w-100" />
                    </div>
                    <div class="d-flex flex-column text-sm-left text-center px-md-3">
                        <h3 class="display-4">{{ page.name }} <a href="https://gitlab.gnome.org/ravgeetdhillon/gtk-web/blob/master/{{ page.path }}" title="<span class='small'>Edit this app</span>" data-toggle="tooltip" data-placement="right" data-html="true" style="font-size: 1rem;"><i class="fas fa-pen"></i></a></h3>
                        <p class="text-muted my-0">{{ page.description }}</p>
                    </div>
                </div>
                <br>
                <article class="markdown-body py-3">
                {{ page.content }}
                </article>
            </div>
            <div class="col-lg-2 col-md-12 small text-break mt-4 p-0 pl-3 order-3 order-md-3">
                <div class="border-left px-3 py-2 d-none d-lg-block">
                    <p class="text-primary mb-1"><strong>More Apps</strong></p>
                    {% for app in site.apps limit:10 %}
                    <p class="m-0"><a href="{{ app.name }}" title="<span class='small'>{{ app.description }}</span>" class="text-muted" data-toggle="tooltip" data-placement="top" data-html="true">{{ app.name }}</a></p>
                    {% endfor %}
                </div>
                <br>
                <div class="mr-3 px-3 py-3 border border-primary rounded shadow-sm position-sticky" style="top:16px;">
                    <p class="mb-0">Ever made an app with GTK? Add it our ever growing <a href="#">library</a>.</p>
                    <br>
                    <p class="mb-0">Curious to make an app with GTK? Get Started <a href="#">now</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{%- include footer.html -%}

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>