{%- include header.html -%}

<section class="pb-4" id="{{ page.name }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 small p-0 order-2 order-md-1">
                <div class="text-break pt-4 px-4 border-right h-100">
                    <ul class="list-group">
                        <li class="list-group-item border-0 group-header pb-4"><a href="#" class="text-dark"><strong>Get Started</strong></a></li>
                        <li class="list-group-item border-0 group-header pb-4"><strong>Installations</strong>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Linux</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Windows</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">MacOS</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item border-0 group-header pb-4"><a href="#" class="text-dark"><strong>Language Bindings</strong></a></li>
                        <li class="list-group-item border-0 group-header pb-4"><strong>Dev tools</strong>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">GNOME Builder</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Mono Develop</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Eclipse IDE</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item border-0 group-header pb-4"><strong>API References</strong>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0 pt-2"><a href="https://developer.gnome.org/gtk3/" class="text-muted">GTK3</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="https://developer.gnome.org/gtk4/" class="text-muted">GTK4</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item border-0 group-header pb-4"><strong>Architecture</strong>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">GLib, GObject, GIO</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">GdkPixbuf</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Pango</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">GDK</a></li>
                                <li class="list-group-item border-0 p-0 pt-2"><a href="#" class="text-muted">Cairo</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-8 py-4 px-sm-4 order-1 order-md-2 bg-light">
                <div class="d-flex flex-sm-row flex-column py-3 py-md-0 px-3 px-md-0 app-shadow">
                    <div class="w-100">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb small bg-transparent pl-0">
                                <li class="breadcrumb-item"><a href="#">Docs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dev Tools</li>
                            </ol>
                        </nav>
                        <h5>{{ 'Dev Tools' | upcase }}</h5>
                        <span class="text-muted">Learn how to setup your development environment with GTK recommended tools.</span>
                    </div>
                </div>
                <br>
                <article class="markdown-body py-3">
                {{ page.content }}
                </article>
            </div>
            <div class="col-lg-2 col-md-12 small text-break mt-4 p-0 pl-3 order-3 order-md-3">
                <div class="border-left px-3 py-2 d-none d-lg-block">
                    <p class="text-primary mb-1"><strong>More Apps</strong></p>
                    {% for app in site.apps limit:10 %}
                    <p class="m-0"><a href="{{ app.name }}" title="<span class='small'>{{ app.description }}</span>" class="text-muted" data-toggle="tooltip" data-placement="top" data-html="true">{{ app.name }}</a></p>
                    {% endfor %}
                </div>
                <br>
                <div class="mr-3 px-3 py-3 border border-primary rounded shadow">
                    <p class="mb-0">Observed a typo or some missing information, edit this page <a href="#">here</a>.</p>
                    <br>
                    <p class="mb-0">Read on <a href="#">how to contribute</a> to this website.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{%- include footer.html -%}