<!-- this is the layout file for the documentation pages -->
<!-- any changes made to this file will affect all the documentation pages -->

{% include header.html %}

<section class="pb-4" id="{{ page.name }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 small p-0 order-2 order-md-1">
        <div class="text-break pt-4 px-4 border-right h-100">
          <ul class="list-group">
            {% for section in site.data.stuff.sidebar_sections %}
            <li class="list-group-item border-0 group-header pb-4"><a href="/docs/{{ section.name }}" class="text-dark"><strong>{{ section.title }}</strong></a>
              {% assign sidebar_links = site.data.stuff.sidebar_links | where: "section", section.title %}
              <ul class="list-group">
                {% for link in sidebar_links %}
                  {% if link.href %}
                    <li class="list-group-item border-0 p-0 pt-2"><a href="{{ link.href }}" class="text-muted">{{ link.title }}</a></li>
                  {% else %}
                    <li class="list-group-item border-0 p-0 pt-2"><a href="/docs/{{ section.name }}/{{ link.name }}" class="text-muted">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-8 py-4 px-sm-4 order-1 order-md-2 bg-light">
        <div class="d-flex flex-sm-row flex-column py-3 py-md-0 px-3 px-md-0 app-shadow">
          <div class="w-100">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb small bg-transparent pl-0 m-0">
                {% assign url = page.url | split: '/' %}
                {% for part in url %}
                  {% if forloop.last == true %}
                    <li class="breadcrumb-item active" aria-current="page">{{ part }}</li>
                  {% else %}
                    <li class="breadcrumb-item"><a href="#">{{ part }}</a></li>
                  {% endif %}
                {% endfor %}
              </ol>
            </nav>
          </div>
        </div>
        <br>
        <article class="markdown-body">
          {{ page.content }}
        </article>
      </div>
      <div class="col-lg-2 col-md-12 small text-break mt-4 p-0 pl-3 order-3 order-md-3">
        <div class="mr-3 px-3 py-3 border rounded shadow-sm">
          {% assign page_name = page.path | split: '/' %}
          {% assign page_name = page_name.last %}
          <p class="mb-0">Observed a typo or some missing information, edit this page <a href="https://gitlab.gnome.org/ravgeetdhillon/gtk-web/blob/master/collections/_docs/{{ page_name }}">here</a>.</p>
          <br>
          <p class="mb-0">Read on <a href="https://gitlab.gnome.org/ravgeetdhillon/gtk-web/blob/master/CONTRIBUTING.md">how to contribute</a> to this website.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% include footer.html %}